# Google API - echte Werte in .env.local (gitignored) eintragen
# Client-seitige Vite-Variablen: muessen mit VITE_ beginnen und landen im Browser-Bundle
VITE_GOOGLE_API_KEY=
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_DISCOVERY_DOCS="['https://www.googleapis.com/books/v1/volumes', 'https://kgsearch.googleapis.com/v1/entities']"
VITE_GOOGLE_SCOPE='https://www.googleapis.com/auth/books.readonly'
