@import 'themes';


.window {
    display: flex;
     width: 100%;
     flex-direction: column;
     font-family: 'Nunito Sans', sans-serif;
     .header {
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 100%;
       min-height: 50px;
       @include customize(color) {
         background: linear-gradient(to right, getValue(backgroundColor), getValue(backgroundColorLight)); 
       }
       @include customize(theme) {
        color: getValue(textColor);
       }
       .header-title-wrapper {
         margin-left: 10px;
         display: flex;
         .header-title {
           font-size: 24px;
           margin-left: 15px;
         }
       }
     }
     .page {
       display: flex;
       flex-direction: column;
       height: 100%;
       width: 100%;
       .content {
         @include customize(theme) {
           background-color: getValue(backgroundLight);
         }
         display: flex;
         flex-direction: column;
         padding-left: 20px;
         padding-right: 20px;
         height: 100%;
         .title {
          font-size: 30px;
           margin-top: 20px;
           margin-bottom: 20px;
            @include customize(theme) {
             color: getValue(textDark);
           }
         }
         .sub-title {
           @include customize(theme) {
             color: getValue(textLight);
           }
           font-size: 14px;
           margin-bottom: 10px;
         }
         .button {
           padding: 10px 30px;
           border: none;
           @include customize(theme) {
             color: getValue(textColor);
           }
           @include customize(theme) {
             background-color: getValue(backgroundColor);
           }
         }
       }
     }
   }   
   html, body, .wrapper {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }
   .theme-wrapper {
     display: flex;
     flex: 1;
   }
   .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .search {
      margin-bottom: 10px;
      margin-right: 10px;
      width: 80%
    }
  
    table {
      border-collapse: separate;
      border-spacing: 2px;
      border-radius: 3px;
      @include customize(color) {
        background-color: getValue(backgroundLight);
      }
      margin: 10px;
  
      &.table-striped > tbody > tr:nth-child(even) > td,
      .table-striped > tbody > tr:nth-child(even) > th {
        @include customize(theme) {
          background-color: getValue(backgroundDark);
          color: getValue(textColor);
        }
      }
  
      &.table-striped > tbody > tr:nth-child(odd) > td,
      .table-striped > tbody > tr:nth-child(odd) > th {
        @include customize(theme) {
          background-color: getValue(backgroundLight);
        }
      }
  
      th {
        padding: 8px;
        // cursor: pointer;
  
        &.active {
          color: #4C595A;
  
          & .arrow {
            opacity: 1;
          }
        }
      }
  
      .arrow {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        margin-left: 5px;
        opacity: 0.66;
  
        &.asc {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid rgba(76, 89, 90, 0.66);;
        }
  
        &.dsc {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid rgba(76, 89, 90, 0.66);;
        }
      }
  
      td {
        padding: 8px;
      }
    }
  }
  .linkbar {
    @include customize(theme) {
      background-color: getValue(backgroundLight);
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: auto;
    .link {
      @include customize(theme) {
        color: getValue(textDark);
      }
      vertical-align: text-top;
      .image {
          @include customize(theme) {
          color: getValue(iconColor);
          }
         width: 30px;
         height: 30px;
         padding-right: 5px;
       }
        border-radius: 3px;
        padding: 5px 10px 5px 10px;
        font-size: 20px;
        width: auto;
        text-decoration: none;
        margin: 0 20px 0 20px;
    }
  }
  .toolbar {
    @include customize(theme) {
      background-color: getValue(toolbarBackgroundColor);
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: auto;
    .button {
      @include customize(theme) {
        color: getValue(textDark);
      }
      border: none;
      border-radius: 3px;
      padding: 0 10px 0 10px;
      vertical-align: text-top;
      font-size: 20px;
      width: auto;
      text-decoration: none;
      margin: 0 20px 0 20px;


      .image {
        @include customize(theme) {
          color: getValue(iconColor);
        }
          width: 30px;
          height: 30px;
          padding-right: 5px;
        }
    }

    .modal-mask {
      padding-left: 20px;
    }


  }
.receipts {
    @include customize(color) {
      background-color: getValue(backgroundColorReceipts);
      color: getValue(textColorReceipts);
    }
}
.films {
    @include customize(color) {
      background-color:getValue(backgroundColorFilms);
      color: getValue(textColorFilms);
    }
}
.books {
    @include customize(color) {
      background-color: getValue(backgroundColorBooks);
      color: getValue(textColorBooks);
    }
}
   