@import 'themes';
.sidebar {
  @include customize(theme) {
    background-color: getValue(backgroundDark);
  }
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 20px;
  padding-left: 20px;
  width: 170px;
  height: 100%;
  .link {
    font-size: 30px;
    margin-bottom: 15px;
    img {
     vertical-align: text-top;
       width: 30px;
       height: 30px;
       padding-right: 5px;
     }
     @include customize(theme) {
      color: getValue(iconColor);
    }
  }
}
.window {
    display: flex;
     width: 100%;
     flex-direction: column;
     font-family: 'Nunito Sans', sans-serif;
     .header {
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 100%;
       height: 70px;
       @include customize(color) {
         background: linear-gradient(to right, getValue(backgroundColor), getValue(backgroundColorLight)); 
       }
       @include customize(theme) {
        color: getValue(textColor);
       }
       .header-title-wrapper {
         margin-left: 10px;
         display: flex;
         .header-title {
           margin-left: 10px;
           font-size: 24px;
           margin-left: 15px;
         }
       }
     }
     .page {
       display: flex;
       flex-direction: row;
       height: 100%;
       width: 100%;
       .content {
         @include customize(theme) {
           background-color: getValue(backgroundLight);
         }
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding-left: 20px;
         height: 100%;
         .section {
           width: 98%;
         }
         .title {
           font-size: 22px;
           margin-bottom: 10px;
            @include customize(theme) {
             color: getValue(textDark);
           }
         }
         .sub-title {
           @include customize(theme) {
             color: getValue(textLight);
           }
           font-size: 14px;
           margin-bottom: 10px;
         }
         .button {
           padding: 10px 30px;
           border: none;
           @include customize(theme) {
             color: getValue(textColor);
           }
           @include customize(color) {
             background-color: getValue(backgroundColor);
           }
         }
       }
     }
   }
   
   html, body, .wrapper {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }
   .theme-wrapper {
     display: flex;
     flex: 1;
   }