$themes: (
  light: (
    backgroundLight: hsl(0, 0%, 100%),
    backgroundDark: hsl(240, 1%, 23%),
    backgroundDarker: hsl(0, 0%, 34%),
    textColor: hsl(0, 0%, 100%),
    textDark: hsl(0, 0%, 0%),
    textLight: hsl(200, 1%, 57%),
    contentColor: hsl(180, 1%, 73%),  
    iconColor: hsl(0, 0%, 0%),
    toolbarBackgroundColor:hsl(200, 1%, 57%),
    
  ),
  dark: (
    backgroundLight: hsl(0, 0%, 0%),
    backgroundDark: hsl(200, 24%, 10%),
    backgroundDarker:hsl(240, 1%, 23%),
    textColor: hsl(0, 0%, 0%),
    textDark: hsl(0, 0%, 100%),
    textLight:hsl(240, 1%, 23%),
    iconColor: hsl(0, 0%, 100%),
    toolbarBackgroundColor:hsl(0, 0%, 100%),
  ),
);

$color-schemes: (
  scheme-default: (
    backgroundColor: hsl(268, 100%, 50%),
    backgroundColorLight: hsl(268, 100%, 85%),
    textColor: hsl(268, 100%, 85%),
    textColorDark:  hsl(268, 100%, 50%),

    backgroundReceipts: hsl(128, 100%, 30%),
    textColorReceipts: hsl(128, 100%, 83%),
    backgroundColorFilms: hsl(250, 100%, 50%),
    textColorFilms: hsl(250, 94%, 86%),
    backgroundColorBooks: hsl(189, 100%, 31%),
    textColorBooks: hsl(189, 81%, 79%),


  ),
  scheme-orange: (
    backgroundColor: hsl(36, 100%, 45%),
    backgroundColorLight: hsl(36, 100%, 80%),
    textColor:hsl(36, 100%, 80%),
    textColorDark: hsl(36, 100%, 45%),

    backgroundColorReceipts: hsl(128, 100%, 30%),
    textColorReceipts: hsl(128, 100%, 83%),
    backgroundColorFilms: hsl(250, 100%, 50%),
    textColorFilms: hsl(250, 94%, 86%),
    backgroundColorBooks: hsl(189, 100%, 31%),
    textColorBooks: hsl(189, 81%, 79%),

  )
);

@mixin customize($arg: theme) {
  $array: $themes;
  $prefix: theme;

  @if ($arg == theme) {
    $array: $themes;
    $prefix: theme;
  } @else {
    $array: $color-schemes;
    $prefix: color;
  }

  @each $theme, $map in $array {
    .#{$prefix}-#{$theme} & {
      $array-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($array, $theme), '#{$key}');
        $array-map: map-merge($array-map, ($key: $value)) !global;
      }

      @content;
      $array-map: null !global;
    }
  }
}

@function getValue($key) {
  @return map-get($array-map, $key);
}